<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Parts Inventory</title>
</head>
<body>
    <div>
        <section id="engine">
            <h2>Engine Parts</h2>
            <ul>
                <li><a href="https://augustin-group.com/p/piston-1410044oe">Pistons</a></li>
                <li><a href="https://www.hydrauliccylindersinc.com/product-category/hydraulic-cylinder-component-parts/">Cylinders</a></li>
                <li><a href="https://www.amazon.ca/Automotive-Valve-Train-Tools/b?ie=UTF8&node=7420964011">Valves</a></li>
            </ul>
        </section>
        <section id="transmission">
            <h2>Transmission Parts</h2>
            <ul>
                <li><a href="https://www.amazon.ca/s?k=gears&ref=nb_sb_noss">Gears</a></li>
                <li><a href="https://www.napacanada.com/en/c/replacement-parts/transmission/clutches/201579919">Clutch</a></li>
                <li><a href="https://www.driveshaftparts.com/">Driveshaft</a></li>
            </ul>
        </section>
        <section id="suspension">
            <h2>Suspension Parts</h2>
            <ul>
                <li><a href="https://www.napacanada.com/en/c/replacement-parts/steering-and-suspension/shocks-struts-and-mounts/201579879">Shocks</a></li>
                <li><a href="https://www.autoshack.ca/Auto/Suspension-Steering/Shocks-Struts">Struts</a></li>
                <li><a href="https://www.canadaspring.com/">Springs</a></li>
            </ul>
        </section>
    </div>
</body>
</html>
