<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> here we provide several services which range from simple quote of repair to making a custom part out of air for our customers</h2>
    <a href="/services/oil_change"> oil change </a>
    <a href="/services/tire_change" >Tire change </a>
    <a href="/services/safety_inspection"> Safety Inspection</a>
    <a href="/parts"> looking for parts?? check us out </a>
    <a href="/support"> Connect with us </a>
</body>
</html>