<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="/signup" method="POST">
        <label>Username:</label>
        <input type="text" name="username" required maxlength="7"><br>
        <label>First name :</label>
        <input type="text" name="fname" required><br>
        <label>Last name:</label>
        <input type="text" name="lname" ><br>
        <label>Email:</label>
        <input type="text" name="email" required><br>
        <label>Contact Number :</label>
        <input type="number" name="contact"required maxlength="10"> <br>       
        <label>Password:</label>
        <input type="password" name="password"required maxlength="10"><br>
        <input type="hidden" name="role" value="user">
        
        <button type="submit">Register</button>
   </form> 
</body>
</html>
