<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> connect with us </h2>
    <a href="0987645678"> call us</a>
    <a href="project@gh"> email us </a> 
    <a href="https://maps.app.goo.gl/CjrnTpoaxP6kftUXA" >  drive here </a>
</body>
</html>